<h1><%= @recipe.name %></h1>

<p> <%= @recipe.content %> </p>

  <hr>
  <div class="container">
      <div class="alert alert-success pull-right hide">
        <form action="/recipes/<%= @recipe.id %>/ratings" method="post">
        <button type="button" class="close" data-dismiss="alert">×</button>
        You gave a rating of <span value="value" id="count">0</span> star(s)
        <input id="score" type="hidden" name="rating[star]" value="score">

      </div>
      <div class="row">
      </div>
      <div class="row lead">
          <div id="stars" class="starrr"></div>
      </div>
     </div>
        <button class="btn btn-success">Rate</button>
        </form>

<h3>Tags</h3>
<ul>
  <% @recipe.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>

<a href="/recipes/<%= @recipe.id %>/edit"><button class="btn btn-warning">Edit this Recipe</button></a>

<a href="/recipes/<%= @recipe.id %>"
   data-confirm="You sure?"
   data-method="delete"
   rel="nofollow"><button class="btn btn-danger">Delete Recipe</button></a>

<a href="/recipes"><button class="btn btn-primary">Recipe Menu</button></a>

<%= javascript_include_tag "bootstrap-rating-input.min.js" %>

